University of Waterloo Thesis Template/
'University of Waterloo Thesis Template.zip'
revtex4-2-tds/
*.bst
*.zip
*.aux
*.blg
*glo*
thesis.pdf
*.log
*.ist
*.gz
*.toc
uw*
*.swp
*.out
*.bbl
stylesStuff/atlaslatex
