*.bst
*.zip
*.aux
*.blg
*glo*
learningLatex/*.pdf
*.log
*.ist
*.gz
*.toc
uw*
*.swp
stylesStuff/*
*.out
thesis.bbl
individual_bib_files/*
editVersions/*
final_submission_instructions_mcgill.pdf
hanna_report_on_msc_thesis.pdf
mcgill_non-exclusive_license_mnl_fillable_form_english_0_signed.pdf

